{{#if siteSettings.groupbadges_enabled}}
  <div class="control-group groupbadges">
    <label class="control-label">Group Badge</label>
    <div class="controls">
      {{combo-box valueAttribute="name" nameChanges=true content=natflaglist value=model.custom_fields.nationalflag_iso }}
      <img class="nationalflag-usersummary" src="/plugins/discourse-nationalflags/images/nationalflags/{{model.custom_fields.nationalflag_iso}}.png" />
    </div>
  </div>
{{/if}}
